<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="ac.soton.eventb.statemachines.design.Activator"
               id="ac.soton.eventb.statemachines.design"
	       name="statemachines">
    </component>
  </extension>
</plugin>
